.detailsBanner {
  width: 100%;
  background-color: var(--black);
  padding-top: 100px;
  margin-bottom: 0px;
  min-height: 700px;
  
}
.content {
  display: flex;
  position: relative;
  margin-left: 10vh;
  flex-direction: column;
  gap: 50px;
}
.left {
  flex-shrink: 0;
  margin-left: 20px;
}
.left .posterImg {
  width: 40vh;
  height:50vh;
  display: block;
  border-radius: 12px;
  
}

.right {
  color: white;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 34px;
  line-height: 50px;
  padding-bottom: 8px;
  

}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
  font-style: italic;
  opacity: 0.5;
}

.row {
  display: flex;
  
  gap: 25px;
  margin-bottom: 25px;
}
.playbtn {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  
}

.playbtn .playbtnIcon{
    color: red;
    width: 70px;
    height: 70px;
    
}


.overview {
    margin-bottom: 25px;   
}
.heading {
    font-size: 24px;
    margin-bottom: 10px;
}
.description {
    line-height: 24px;
    padding-right: 300px;
    
}

.info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    display: flex;
    
    
}
.infoItem {
    margin-right: 30px;
    display: flex;
    flex-flow: row wrap;
}
.text {
    margin-right: 10px;
    opacity: 0.5;
    line-height: 24px;
    
}
.text &.bold {
    font-weight: 600;
    opacity: 1;
}



@media (max-width:600px) {
  .content {
    margin-left: 5px;
  }
  .detailsBanner {
    padding-top: 50px;
    
  }
  .description {
    line-height: 24px;
    padding-right: 10px;
    
  }
  .info {
    border-bottom: none;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    
  }
    
  
  
 
  
}
